{% extends 'base.html' %}

<title>{% block title %}Kiosk WebGUI - Produkte{% endblock %}</title>

{% block content %}
<div class="mdl-grid mdl-card-wide mdl-card mdl-shadow--2dp" style="width: 90%;">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-card__title" style="width: 100%;">
        <h3>Produkte</h3>
    </div>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-card__supporting-text mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <form id="products" class="products-form" action="/products" onsubmit="loading()">
            <!-- Accent-colored raised button -->
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit"
                value="Speichern und ausgewählte löschen" style="margin-bottom: 1%" />
            <table class="mdl-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select"
                                for="select-all-checkbox">
                                <input class="mdl-checkbox__input" type="checkbox" name="select-all"
                                    id="select-all-checkbox" />
                            </label>
                        </th>
                        <th>Name</th>
                        <th>Lager</th>
                        <th>Preis (CHF)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-data-table__select" for="select-new">
                                <input class="mdl-checkbox__input" type="checkbox" name="select-new" id="select-new" />
                            </label>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <div class="mdl-textfield mdl-js-textfield min-width-25">
                                <input class="mdl-textfield__input" type="text" name="name-new" id="name-new">
                                <label class="mdl-textfield__label" for="name-new">Name</label>
                            </div>
                        </td>
                        <td class="mdl-data-table__cell">
                            <div class="mdl-textfield mdl-js-textfield min-width-25">
                                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?"
                                    name="stock-new" id="stock-new">
                                <label class="mdl-textfield__label" for="stock-new">0</label>
                                <span class="mdl-textfield__error">Eingabe ist keine Zahl!</span>
                            </div>
                        </td>
                        <td class="mdl-data-table__cell">
                            <div class="mdl-textfield mdl-js-textfield min-width-25">
                                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?"
                                    name="price-new" id="price-new">
                                <label class="mdl-textfield__label" for="price-new">0</label>
                                <span class="mdl-textfield__error">Eingabe ist keine Zahl!</span>
                            </div>
                        </td>
                    </tr>
                    {% for product in products.items() %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-data-table__select"
                                for="select-{{ product[0] }}">
                                <input class="mdl-checkbox__input" type="checkbox" name="select-{{ product[0] }}"
                                    id="select-{{ product[0] }}" />
                            </label>
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <div class="mdl-textfield mdl-js-textfield min-width-25">
                                <input class="mdl-textfield__input" type="text" name="name-{{ product[0] }}"
                                    id="name-{{ product[0] }}" value="{{ product[1]['name'] }}">
                                <label class="mdl-textfield__label" for="name-{{ product[0] }}">{{ product[1]['name']
                                    }}</label>
                            </div>
                        </td>
                        <td class="mdl-data-table__cell">
                            <div class="mdl-textfield mdl-js-textfield min-width-25">
                                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]+?"
                                    name="stock-{{ product[0] }}" id="stock-{{ product[0] }}" value={{ product[1]['stock'] }}>
                                <label class="mdl-textfield__label" for="stock-{{ product[0] }}">{{ product[1]['stock']
                                    }}</label>
                                <span class="mdl-textfield__error">Eingabe ist keine ganze Zahl!</span>
                            </div>
                        </td>
                        <td class="mdl-data-table__cell">
                            <div class="mdl-textfield mdl-js-textfield min-width-25">
                                <input class="mdl-textfield__input" type="text" pattern="[0-9]*(\.[0-9]+)?"
                                    name="price-{{ product[0] }}" id="price-{{ product[0] }}" value={{ product[1]['price'] }}>
                                <label class="mdl-textfield__label" for="price-{{ product[0] }}">{{ product[1]['price']
                                    }}</label>
                                <span class="mdl-textfield__error">Eingabe ist keine postive Zahl!</span>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Accent-colored raised button -->
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit"
                value="Speichern und ausgewählte löschen" style="margin-top: 1%" />
        </form>
        <div class="mdl-layout-spacer"></div>
    </div>
</div>
{% endblock %}