{% extends 'base.html' %}

<title>{% block title %}Kiosk WebGUI - Start{% endblock %}</title>

{% block content %}
<div class="mdl-grid mdl-card-wide mdl-card mdl-shadow--2dp" style="width: 90%;">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-card__title" style="width: 100%;">
        <h3>Start</h3>
    </div>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-card__supporting-text mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <h4>Kommt bald.</h4>
        <div class="mdl-layout-spacer"></div>
    </div>
</div>
{% endblock %}