{% extends 'base.html' %}

{% block pagetitle %}{% block title %}Login{% endblock %}{% endblock %}


{% block content %}
<form id="login" class="login-form mdl-grid mdl-grid--no-spacing" action="/login" method="POST" onsubmit="loading()">
    <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--12-col-phone mdl-textfield mdl-js-textfield min-width-25">
        <input class="mdl-textfield__input" type="text" pattern="[0-9]*(\.[0-9]+)?" name="otp" id="otp">
        <label class="mdl-textfield__label" for="otp">OTP</label>
        <span class="mdl-textfield__error">Eingabe ist keine Zahl!</span>
    </div>

    <!-- Accent-colored raised button -->
    <input class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" value="Login"
        style="margin-top: 1%" />
</form>
{% endblock %}