{% extends 'base.html' %}

{% block pagetitle %}{% block title %}Produkte{% endblock %}{% endblock %}

{% block content %}
<form id="products" class="products-form mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone" action="/products" onsubmit="loading()">
    <!-- Accent-colored raised button -->
    <input class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit"
        value="Speichern und ausgewählte löschen" style="margin-bottom: 1%" />
    <table class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th>Auswahl</th>
                <th>Name</th>
                <th>Lager</th>
                <th>Preis</th>
                <th>Warnung</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mdl-data-table__cell">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-data-table__select" for="select-new">
                        <input class="mdl-checkbox__input" type="checkbox" name="select-new" id="select-new" />
                    </label>
                </td>
                <td class="mdl-data-table__cell">
                    <div class="mdl-textfield mdl-js-textfield min-width-25">
                        <input class="mdl-textfield__input" type="text" name="name-new" id="name-new">
                        <label class="mdl-textfield__label" for="name-new">Name</label>
                    </div>
                </td>
                <td class="mdl-data-table__cell">
                    <div class="mdl-textfield mdl-js-textfield min-width-25">
                        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" name="stock-new"
                            id="stock-new">
                        <label class="mdl-textfield__label" for="stock-new">0</label>
                        <span class="mdl-textfield__error">Eingabe ist keine Zahl!</span>
                    </div>
                </td>
                <td class="mdl-data-table__cell">
                    <div class="mdl-textfield mdl-js-textfield min-width-25">
                        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" name="price-new"
                            id="price-new">
                        <label class="mdl-textfield__label" for="price-new">0</label>
                        <span class="mdl-textfield__error">Eingabe ist keine Zahl!</span>
                    </div>
                </td>
                <td class="mdl-data-table__cell">
                    <div class="mdl-textfield mdl-js-textfield min-width-25">
                        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" name="warning-new"
                            id="warning-new">
                        <label class="mdl-textfield__label" for="warning-new">0</label>
                        <span class="mdl-textfield__error">Eingabe ist keine Zahl!</span>
                    </div>
                </td>
            </tr>
            {% for product in products.items() %}
            <tr>
                <td class="mdl-data-table__cell">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-data-table__select" for="select-{{ product[0] }}">
                        <input class="mdl-checkbox__input" type="checkbox" name="select-{{ product[0] }}"
                            id="select-{{ product[0] }}" />
                    </label>
                </td>
                <td class="mdl-data-table__cell">
                    <div class="mdl-textfield mdl-js-textfield min-width-25">
                        <input class="mdl-textfield__input" type="text" name="name-{{ product[0] }}"
                            id="name-{{ product[0] }}" value="{{ product[1]['name'] }}">
                        <label class="mdl-textfield__label" for="name-{{ product[0] }}">{{ product[1]['name']
                            }}</label>
                    </div>
                </td>
                <td class="mdl-data-table__cell">
                    <div class="mdl-textfield mdl-js-textfield min-width-25">
                        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]+?"
                            name="stock-{{ product[0] }}" id="stock-{{ product[0] }}" value={{ product[1]['stock'] }}>
                        <label class="mdl-textfield__label" for="stock-{{ product[0] }}">{{ product[1]['stock']
                            }}</label>
                        <span class="mdl-textfield__error">Eingabe ist keine ganze Zahl!</span>
                    </div>
                </td>
                <td class="mdl-data-table__cell">
                    <div class="mdl-textfield mdl-js-textfield min-width-25">
                        <input class="mdl-textfield__input" type="text" pattern="[0-9]*(\.[0-9]+)?"
                            name="price-{{ product[0] }}" id="price-{{ product[0] }}" value={{ product[1]['price'] }}>
                        <label class="mdl-textfield__label" for="price-{{ product[0] }}">{{ product[1]['price']
                            }}</label>
                        <span class="mdl-textfield__error">Eingabe ist keine postive Zahl!</span>
                    </div>
                </td>
                <td class="mdl-data-table__cell">
                    <div class="mdl-textfield mdl-js-textfield min-width-25">
                        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]+?"
                            name="warning-{{ product[0] }}" id="warning-{{ product[0] }}" value={{ product[1]['warning']
                            }}>
                        <label class="mdl-textfield__label" for="warning-{{ product[0] }}">{{ product[1]['warning']
                            }}</label>
                        <span class="mdl-textfield__error">Eingabe ist keine ganze Zahl!</span>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Accent-colored raised button -->
    <input class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit"
        value="Speichern und ausgewählte löschen" style="margin-top: 1%" />
</form>
{% endblock %}