nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #abcdef
}

nav a {
  float: left;
  color: #525252;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}
