{% extends 'base.html' %}

<title>{% block title %}Kiosk WebGUI - Abrechnung{% endblock %}</title>

{% block content %}
<div class="mdl-grid mdl-card-wide mdl-card mdl-shadow--2dp" style="width: 90%;">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-card__title" style="width: 100%;">
        <h3>Abrechnung</h3>
    </div>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-card__supporting-text mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <form id="drinks" class="drinks-form" action="/drinks" onsubmit="loading()">
            <!-- Accent-colored raised button -->
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit"
                value="Speichern und ausgewählte löschen" style="margin-bottom: 1%" />
            <table class="mdl-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Guthaben</th>
                        <th>Aktion</th>
                        <th>Wert</th>
                    </tr>
                </thead>
                <tbody>
                    {% if users: %}
                    {% for user in users.items() %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">{{ user[1]['firstname'] }} {{ user[1]['lastname']
                            }}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{ user[1]['email'] }}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{ user[1]['balance'] }}</td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <select class="mdl-textfield__input" id="action-{{ user[0] }}"
                                    name="action-{{ user[0] }}">
                                    <option>Keine</option>
                                    <option value="85">85</option>
                                    <option value="87">87</option>
                                    <option value="89">89</option>
                                    <option value="91">91</option>
                                    <option value="diesel">Diesel</option>
                                </select>
                                <label class="mdl-textfield__label" for="action-{{ user[0] }}">Aktion</label>
                            </div>
                        </td>
                        <td>
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?"
                                    name="price-new" id="price-new">
                                <label class="mdl-textfield__label" for="price-new">0</label>
                                <span class="mdl-textfield__error">Eingabe ist keine Zahl!</span>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Fehler</td>
                        <td class="mdl-data-table__cell--non-numeric">Fehler</td>
                        <td class="mdl-data-table__cell--non-numeric">Fehler</td>
                        <td class="mdl-data-table__cell--non-numeric">Fehler</td>
                        <td class="mdl-data-table__cell--non-numeric">Fehler</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            <!-- Accent-colored raised button -->
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit"
                value="Speichern und ausgewählte löschen" style="margin-top: 1%" />
        </form>
        <div class="mdl-layout-spacer"></div>
    </div>
</div>
{% endblock %}