{% extends 'base.html' %}

<title>{% block title %}Kiosk WebGUI - Transaktionen{% endblock %}</title>

{% block content %}
<div class="mdl-grid mdl-card-wide mdl-card mdl-shadow--2dp" style="width: 90%;">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-card__title"><h3>Transaktionsverlauf</h3></div>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-card__supporting-text mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <form class="transactions-form" action="/transactions">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="number_of_transactions">
                <label class="mdl-textfield__label" for="number_of_transactions">Anzahl</label>
                <span class="mdl-textfield__error">Eingabe ist keine Zahl!</span>
            </div>
        </form>
        <div class="mdl-layout-spacer"></div>
    </div>
    <div class="mdl-card__supporting-text mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <table class="mdl-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Zeit</th>
                    <th class="mdl-data-table__cell--non-numeric">Person</th>
                    <th class="mdl-data-table__cell--non-numeric">Artikel</th>
                    <th>Preis (CHF)</th>
                </tr>
            </thead>
            <tbody>
                {% if transactions: %}
                    {% for transaction in transactions[:number_of_transactions] %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">{{ transaction[0] }}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ transaction[1] }}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ transaction[2] }}}</td>
                            <td>{{ transaction[3] }}}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Fehler</td>
                        <td class="mdl-data-table__cell--non-numeric">Fehler</td>
                        <td class="mdl-data-table__cell--non-numeric">Fehler</td>
                        <td class="mdl-data-table__cell--non-numeric">Fehler</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <div class="mdl-layout-spacer"></div>
    </div>
</div>
{% endblock %}