{% extends 'base.html' %}

<title>{% block title %}Kiosk WebGUI - Transaktionen{% endblock %}</title>

{% block content %}
    <form class="transactions-form" action="/transactions">
        <label>Anzahl:</label>
        <input type="number" value={{ number_of_transactions }} name="number_of_transactions"/>
    </form>
    <table class="transactions-table">
        <tr>
            <th>Zeit</th>
            <th>Person</th>
            <th>Artikel</th>
            <th>Preis (CHF)</th>
        </tr>
        {% if transactions: %}
            {% for transaction in transactions[:number_of_transactions] %}
                <tr>
                    <td>{{ transaction[0] }}}</td>
                    <td>{{ transaction[1] }}}</td>
                    <td>{{ transaction[2] }}}</td>
                    <td>{{ transaction[3] }}}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>Fehler</td>
                <td>Fehler</td>
                <td>Fehler</td>
                <td>Fehler</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}